body{
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}
.container{
    width: 70%;
    margin: 40px auto;
    border: 1px solid gray;
    
}
.head{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    color: lightgreen;
}

/* dynamic class */
.heading{
    color: orangered;
}
.sub-head{
    color: lightgreen;
}

span{
    background-color: red;
    display: inline-block;
    padding: 10px;
    color: white;
    margin: 10px 0;
}

.available span{
    background-color: green;
}

.nearby span:after{
    content: "nearby";
    margin-left: 10px;
}

.font{
    font-size: 30px;
}
.red{
    color: red;
}