body{
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}
.container{
    width: 70%;
    margin: 40px auto;
    border: 1px solid gray;
    
}
.head{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    color: lightgreen;
}